/* 
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    /*background: yellow;*/
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
/*____MOBILE NAV__________*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.sidebar{
		visibility: hidden; 
	}
	nav {
		visibility: visible;
	}
}
/*_________tablette ______________*/

@media only screen and (min-device-width : 420px) and (max-device-width : 768px) {

.sidebar{
		visibility:visible;
	}
	nav {
		visibility:hidden;
	}
}

/*_______________desktop_______________*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.sidebar{
		visibility:visible;
	}
	nav {
		visibility:hidden;
	}

}
/*_____________large_______________*/

@media only screen and (min-width : 1224px){
.sidebar{
		visibility:visible;
	}
	nav {
		visibility:hidden;
	}

}
/*_____________extra large_______________*/ 

@media only screen and (min-width : 1824px) {

.sidebar{
		visibility:visible;
	}
	nav {
		visibility:hidden;
	}


} 
 On screens that are less than 400px, display the bar vertically, instead of horizontally 
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* Style the navigation bar */

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  /*padding: 12px;*/
  /*color: white;*/
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #fff;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
nav {
	/*visibility:hidden;*/
}
ul > li {
	list-style: none;
	margin: 5px;
}
#accordionSidebar {
 margin: 20px 20px 20px 20px;	
 border-radius: 15px ;

}
#accordionSidebar  li {
	background: yellow;
 	padding: 5px 5px 5px;
 	border-radius: 20px;
 	margin: 5px;
}

.top-menu-admin{
	padding-top: 0px ;
}
.top-menu-admin li {
	/*align-items: left;*/
 	border-radius: 20px;
 	/*border: solid 1px gray;*/
	/*background: yellow;*/
	/*float:left;*/
}